// LAYOUT VARS
$topbar-height: 70px;
$topbar-height-mobile: 60px;

$sidebar-left-width: 110px;
$sidebar-left-width-mobile: 90px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 20px;