// LAYOUT VARS - Only override if not already defined
$topbar-height: 80px !default;
$topbar-height-mobile: 70px !default;

$sidebar-left-width: 76px;
$sidebar-left-width-mobile: 90px;
$sidebar-left-secondary-width: 220px;
$sidebar-left-secondary-width-mobile: 190px;
$side-clearance: 20px;